<div ng-include="'views/common/templates/site-header.view.client.html'">

</div>

<div class="main-body">
    <div class="container">
        <div class="page">
            <div >
                <div class="go-back"><a go-back>Go Back</a></div>
                <ol class="breadcrumb">
                    <li> <a href="#!/home">Home</a></li>
                    <li><a href="#!/profile">Profile</a></li>
                    <li class="active">Your Watchlist</li>
                </ol>
            </div>
            <div class="content">
                <!--<h1> Profile Page </h1>-->
                <div ng-include="'views/common/templates/profile-header.view.client.html'">

                </div>

                <div class="profile-content row">
                    <!--<h2>Profile page</h2>-->
                    <div class="col-sm-8">
                        <div class="profile-section row">
                            <h1 class="profile-section-header">Your Enrolled Courses</h1>
                            <div class="subsection" ng-repeat="movie in model.movies">
                            <div class=" row " >
                                <div class="col-sm-4 hidden-xs">
                                    <img src="{{movie.icon}}"/>
                                </div>
                                <div class="col-sm-8 col-xs-12">
                                    <a href="#!/movie/{{movie.CourseID}}"> <span style="font-size: 20px">{{movie.Name}} </span> </a>
                                    <!--<span style="font-size: 20px">({{movie.release_date.split("-")[0]}})</span>-->
                                    <p><span>Rating</span>:{{movie.rating}}</p>
                                    <span style="font-size: inherit"><b>Description:</b> {{movie.Description}}</span><br/>
                                    <span style="font-size: inherit"><b>Enrolled On:</b> {{movie.PaymentDate | date:'yyyy-MM-dd'}}</span><br/>
                                    <span style="font-size: inherit"><b>Completed On:</b> {{movie.CourseCompletionDate | date:'yyyy-MM-dd'}}</span><br/>
                                    <span style="font-size: inherit"><b>Cost:</b> ${{movie.Cost}}</span><br/>
                                    <span style="font-size: inherit"><b>Confirmation Code:</b> {{movie.PaymentCode}}</span>
                                    <!--<div>-->
                                        <!--<strong>Genres:</strong>-->
                                        <!--<span ng-repeat="genre in movie.genres">-->
                                        <!--{{genre.name}}<span ng-show=" ! $last ">,</span>-->
                                        <!--</span>-->
                                    <!--</div>-->
                                  <!--<div class="unfollow-btn-div"> <button class="btn unfollow-btn btn-danger" ng-click="model.deleteMovie(movie.CourseID)">-->
                                        <!--Delete-->
                                    <!--</button></div>-->
                                </div>
                            </div>
                            </div>
                            <div ng-hide="model.movies">
                                <h1 style="text-align: center" > Your Watchlist is currently empty</h1>
                                <div style="align-content: center"><span class=""></span></div>
                                <h3 style="text-align: center"> <a href="#/home">Explore</a> to get started</h3>
                            </div>
                        </div>
                    </div>
                    <div ng-include="'views/common/templates/profile-sidebar.view.client.html'"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/common/templates/footer.view.client.html'"></div>