<div ng-include="'views/common/templates/site-header.view.client.html'">

</div>
<script>
    $(function() {

        $('#login-form-link').click(function(e) {
            $("#login-form").delay(100).fadeIn(100);
            $("#register-form").fadeOut(100);
            $('#register-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
            $("#register-form").delay(100).fadeIn(100);
            $("#login-form").fadeOut(100);
            $('#login-form-link').removeClass('active');
            $(this).addClass('active');
            e.preventDefault();
        });

    });
</script>
<div class="main-body">
    <div class="container">
        <div class="page">
            <div >
                <ol class="breadcrumb">
                    <li><a href="#!/home">Home</a></li>
                    <li class="active"> Login</li>

                </ol>
            </div>
            <div  class="row">
                <div class="col-xs-12">
                    <h3 ng-repeat="error in model.loginErrors" class="login-register-error">{{error}}</h3>
                </div>
                <div class="col-xs-12">
                    <h3 ng-repeat="error in model.registerErrors" class="login-register-error">{{error}}</h3>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-login">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <a href class="active" ng-click="model.changeTab('login')" id="login-form-link">Login</a>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href  ng-click="model.changeTab('register')" id="register-form-link">Register</a>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form id="login-form"   name="loginForm" role="form" style="display: block;" novalidate>
                                            <div class="form-group">
                                                <input type="text" ng-model="model.username" name="username"  tabindex="1" class="form-control" placeholder="email" required/>
                                                <!--<input name="username" ng-model="model.username" class="form-control" id="txtUsername" type="text" placeholder="Username" required/>-->
                                                <div ng-show="loginForm.username.$error.required && loginForm.username.$dirty"><h6 class="warning-text">Required</h6></div>
                                            </div>

                                            <div class="form-group">
                                                   <input ng-model="model.password" type="password" name="password"  tabindex="2" class="form-control" placeholder="Password" required>
                                                <div ng-show="loginForm.password.$error.required && loginForm.password.$dirty"><h6 class="warning-text">Required</h6></div>
                                            </div>

                                            <!--<div class="form-group text-center">-->
                                                <!--<input type="checkbox" tabindex="3" class="" name="remember" id="remember">-->
                                                <!--<label for="remember"> Remember Me</label>-->
                                            <!--</div>-->
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <button ng-click="loginForm.$valid && model.login(model.username,model.password)"  name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login">Log In</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" style="display:none">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">

                                                        <a class="btn btn-danger btn-block" href="/auth/google">
                                                            <span class="fa fa-google-plus"></span>
                                                            Log in with Google</a>
                                                        <a class="btn btn-primary btn-block" href="/auth/facebook">
                                                            <span class="fa fa-facebook-f"></span>
                                                            Login with Facebook</a>
                                                    </div>
                                                </div>
                                            </div >
                                            <div class="form-group" style="display:none">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="text-center">
                                                            <a tabindex="5" class="forgot-password">Forgot Password?</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-12">

                                        <form id="register-form"  name="registerForm" role="form" style="display: none;" novalidate>
                                            <div class="form-group">
                                                <input type="text" ng-model="model.rfusername" name="fusername" id="fusername" tabindex="1" class="form-control" placeholder="First name" value="" required/>
                                                <div ng-show="registerForm.fusername.$error.required && registerForm.fusername.$dirty"><h6 class="warning-text">Required</h6></div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" ng-model="model.rlusername" name="username" id="lusername" tabindex="1" class="form-control" placeholder="Last name" value="" required/>
                                                <div ng-show="registerForm.lusername.$error.required && registerForm.lusername.$dirty"><h6 class="warning-text">Required</h6></div>
                                            </div>
                                            <div class="form-group">
                                                <input type="email" name="email" ng-model="model.remail" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" required/>
                                                <div ng-show="registerForm.email.$error.required && registerForm.email.$dirty"><h6 class="warning-text">Required</h6></div>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" ng-model="model.street" name="street" id="street" tabindex="1" class="form-control" placeholder="Street" value="" />

                                            </div>
                                            <div class="form-group">
                                                <input type="text" ng-model="model.city" name="city" id="city" tabindex="1" class="form-control" placeholder="City" value="" />

                                            </div>
                                            <div class="form-group">
                                                <input type="text" ng-model="model.country" name="country" id="country" tabindex="1" class="form-control" placeholder="Country" value="" />

                                            </div>
                                            <div class="form-group">
                                                <input type="text" ng-model="model.pcode" name="pcode" id="pcode" tabindex="1" class="form-control" placeholder="Postal code" value="" />

                                            </div>
                                            <div class="form-group">
                                                <input type="password" name="password" ng-model="model.rpwd" id="password" tabindex="2" class="form-control" placeholder="Password" required/>
                                                <div ng-show="registerForm.password.$error.required && registerForm.password.$dirty"><h6 class="warning-text">Required</h6></div>
                                            </div>

                                            <div class="form-group">
                                                <input type="password" ng-change="model.checkPassword()" name="confirm-password" ng-model="model.rvpwd" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" required/>
                                                <div ng-show="registerForm.confirm-password.$error.required && registerForm.confirm-password.$dirty"><h6 class="warning-text">Required</h6></div>
                                                <div ng-show="model.pwdMismatch"><h6 class="warning-text">Passwords don't match</h6></div>
                                            </div>



                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <button ng-click="registerForm.$valid && model.register(model.rfusername,model.rlusername ,model.remail,model.rpwd,model.rvpwd,model.street,model.city,model.country,model.pcode)" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" >Create Account</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!--<form id="register-form"  name="registerForm" role="form" style="display: none;" novalidate>-->
                                            <!--<div class="form-group">-->
                                                <!--<input type="text" ng-model="model.rusername" name="username" id="username" tabindex="1" class="form-control" placeholder="Username" value="" required/>-->
                                                <!--<div ng-show="registerForm.username.$error.required && registerForm.username.$dirty"><h6 class="warning-text">Required</h6></div>-->
                                            <!--</div>-->
                                            <!--<div class="form-group">-->
                                                <!--<input type="email" name="email" ng-model="model.remail" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="" required/>-->
                                                <!--<div ng-show="registerForm.email.$error.required && registerForm.email.$dirty"><h6 class="warning-text">Required</h6></div>-->
                                            <!--</div>-->
                                            <!--<div class="form-group">-->
                                                <!--<input type="password" name="password" ng-model="model.rpwd" id="password" tabindex="2" class="form-control" placeholder="Password" required/>-->
                                                <!--<div ng-show="registerForm.password.$error.required && registerForm.password.$dirty"><h6 class="warning-text">Required</h6></div>-->
                                            <!--</div>-->

                                            <!--<div class="form-group">-->
                                                <!--<input type="password" ng-change="model.checkPassword()" name="confirm-password" ng-model="model.rvpwd" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" required/>-->
                                                <!--<div ng-show="registerForm.confirm-password.$error.required && registerForm.confirm-password.$dirty"><h6 class="warning-text">Required</h6></div>-->
                                                <!--<div ng-show="model.pwdMismatch"><h6 class="warning-text">Password Doesnot Match</h6></div>-->
                                            <!--</div>-->



                                            <!--<div class="form-group">-->
                                                <!--<div class="row">-->
                                                    <!--<div class="col-sm-6 col-sm-offset-3">-->
                                                        <!--<button ng-click="registerForm.$valid && model.register(model.rusername ,model.remail,model.rpwd,model.rvpwd)" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" >Create Account</button>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div ng-include="'views/common/templates/footer.view.client.html'"></div>