<div class="content">

    <div class="page-section hidden-xs">
        <div class="row  sorter ">
            <div class="col-xs-12">
                <div class=''>
                    <p style="color: #b92c28;font-size: 20px; margin-left: 160px;"> Course Name
                    </p>
                </div>
            </div>

        </div>
    </div>


    <div class="">
        <div ng-repeat="course in model.courses" class="row page-section">

            <div class="movie-list">
                <div class="col-xs-12">
                    <!--<span style="display:inline"> {{$index+1 + model.pagenumber}} .</span>-->
                    <figure>
                        <img id="user-picture" class="col-xs-4" src="../../../images/c_icon.png"
                             alt="No Image Found">
                    </figure>
                    <a ng-show="{{model.userId === undefined}}" href="#!/course/{{course.CourseID}}"><p class="movie-name">
                        {{course.CourseID}}{{course.Name}}
                    </p></a>
                    <a ng-show="{{model.userId !== undefined}}" href="#!/course/enrolledCourse/{{course.CourseID}}"><p class="movie-name">
                        {{course.CourseID}}{{course.Name}}
                    </p></a>
                    <span>Primary Topic: {{course.PrimaryTopic}}
                      </span><br/>
                    <span>Secondary Topic: {{course.sec_topics}}</span><br/>
                    <span ng-show="{{course.ranking}}">Average Rating: {{course.ranking}}</span>


                </div>
            </div>
        </div>
    </div>
</div>