<footer class="site-footer">
    <div class="container">
        <div class="row footer">
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">About:</h3>
                    <ul>
                        <li><a  class="widget-title">About</a></li>
                        <li><a  class="widget-title">Contact Us</a></li>
                    </ul>

                </div>
            </div>
            <div class="col-md-2">
                <div class="widget">
                    <h3 class="widget-title">Connect with us:</h3>
                    <ul class="no-bullet">
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- .row -->

    </div> <!-- .container -->
    <div>
        <ul class="no-bullet">
            <li>&copy; 2017-2018 trainly.io</li>
            <li>All Rights Reserved.</li></div>

</footer>